{% extends '_base.html' %}

{% block content %}
<div>
    <form class="ui-form" method="POST" action="/pokemon">
        <label for="pokecolour">Pick Colour</label>
        <input type="text" class="form-control" id="pokecolour" name="pokecolour" placeholder="E.g. Red">
        <button type="submit">Send</button>

    </form>
</div>

<div>
    {% if pokemon_returned %}
    <table>
        <thead>
            <tr>
                <th>Pokemon</th>
            </tr>
        </thead>
        <tbody>
        {% for i in pokemon_returned %}
            <tr>
                <td>{{ i }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}